@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/WubbaLubbaDubDub.ttf') format('truetype');
    font-display: swap;
}


h1.text-center.my-4 {
    font-family: 'CustomFont', sans-serif;
    font-size: 80px;
    font-weight: 100;
    color: #03b0c7 !important;  /* Use !important if needed */
    -webkit-text-stroke: 1px #228b22; /* Solid dark green outline */

    text-shadow:
          2px 2px 0 #d1da4a,
          -2px 2px 0 #d1da4a,
          2px -2px 0 #d1da4a,
          -2px -2px 0 #d1da4a,
          2px 0px 0 #d1da4a,
          -2px 0px 0 #d1da4a,
          0px 2px 0 #d1da4a,
          0px -2px 0 #d1da4a;      /* Yellowish-green shadow (wider) */
}


